DBHOST=[
  replace brakets with the appropriate host here.
  You can find it with this command on Mac + Ubuntu:
  `ifconfig | grep inet`
  Several ipaddresses will pop up. Try each of them until
  you get one to work. For ubuntu, it's usually the first
  one on the third line of stdout.
]
DBUSER=root
DBPORT=5440
DBPASSWORD=root
DBNAME=exploro
